.block {
	width: 300px;
	height: 300px;
	background-color: #2d2d2d;
}

.inner {
	width: 80%;
	height: auto;
	position: relative;
	top:20px;
	left: 30px;
	color:#fff;
	padding-top: 10px;
}

.next-inner {
	width: 90%;
	height: auto;
	margin: 0 auto;
	border:1px solid #fff;
}

.p45 {
	width: 100px;
	height: 100px;
	border:1px solid red;
}

.btn3 {
	color: red;
}